nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;  
}

.logo img {
    width: 50px;  
}

.menu ul {
    list-style: none;
    margin: 12%;
    padding: 1%;
    display: flex;
    justify-content: flex-end; 
}

.menu ul li {
    margin-left: 20px;  
}

 @media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .menu ul {
        justify-content: center;
    }

    .logo {
        margin-bottom: 10px;
    }
}
