body {
    background-color: rgb(248, 248, 248);
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 1% 5%; 
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu ul li {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 16px;
    cursor: pointer;
}

.menu ul li i {
    margin-right: 8px;
}

.current {
    color: #9623d8;
}

.menu-icon {
    display: none;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.menu-icon i {
    margin-left: 20px;
}

.menu-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}
.txtRes{
    font-size: small;
}

.dropdown-contents {
    margin-top: 15%;
    margin-left: -7%;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 18%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1.5%;

}

.dropdown-contents table {
    width: 100%;
    border-collapse: collapse;
}

 
.dropdown-contents table  th  {
text-align: left;
padding-bottom: 2%; }

 .dropdown-contents table  td  {
    text-align: left;
 font-size: 0.9rem;
     }

  
     .dropdown-contents::after{
        content: "";
        position: absolute;
        top: -10px;  
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent ;
        border-bottom: 10px solid     rgb(119, 119, 119);  
       
     }
     .menu li.modal:hover .dropdown-contents {
    display: block;
}
a{
    text-decoration: none;
    
}
a::before{
    text-decoration: none;
}
.fa-times-circle{
    color: #000;
    font-size: x-large;
    
}


.searchbar{
    width: 60%;
    margin-left: 18%;
    /* border: 2px solid #9623d8; */
border-radius: 10px ;
height: 50px;}
.btn.btnss {
    background-color: #7b10b9;  
    border: none;
    padding: 16px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    
    height: 60px;
    width: 65px;
    text-align: center;
  
}
#btt:active{
    background-color: #7b10b9;  
    color: aliceblue;
 }

.fa-search{
   margin-left: 20%;
   font-size: x-large;

}
#form1{
    width: 81%;
     margin-left: 20%;
    border: 2px solid #9623d8;
border-radius: 10px ;
height: 60px;  
}
.btn.btnss:hover {
    background-color: #940ae4;
color: #000;
 }

 .searchscreen{
    max-width: 2000px;
    margin-inline: auto;
 }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  
}

.flex-container > div {
    flex: 1 1 30%;  
    min-width: 200px; 

    padding: 20px;  
 }
 .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    padding: 10px;  
}
.text-left{
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}
.text-right{
    color: #7b10b9;
}
.searchcat{
    list-style: none;
    color: #000;
    padding: 10px;  
}
.bord{
    border: none;  
    border-top: 3px dotted #000;  
    margin: 20px 0; 
}
@media (max-width: 768px) {
    .menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    @media (max-width: 768px) {
        .flex-container > div {
            flex: 1 1 100%;  
        }
    }
    .menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu ul li {
        margin: 20px 0;
        font-size: 24px;
        color: white;
    }

    .menu-icon {
        display: flex;
        
    }

    .menu-close {
        display: block;
    }
}
